# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
pcb/*/*backups/*
pcb/*/*/*backups/*
pcb/*/*/*/*backups/*

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml

# FreeCAD backup files
*.FCBak

# Editor
*.code-workspace

# Discarded stuff
.discard/*

# custom graphics (personal use, no license)
case/user graphics/*

# files where i cheated
*pfusch.3mf

# symlinks
qmk_barnacle

# image uploads
/images/uploads/*
!/images/uploads/convert.sh